<ng-container *ngIf="emails$ | async as emails; else loading">
  <tbody>
    <tr *ngFor="let message of emails">
      <td>{{ message.seqno }}</td>
      <td>{{ message.headers.from[0] }}</td>
      <td>{{ message.headers.subject[0] }}</td>
    </tr>
  </tbody>
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>

<hr />

<form [formGroup]="form" (ngSubmit)="sendEmail()">
  <fieldset>
    <label>
      Email

      <input type="text" formControlName="email" />
    </label>

    <label>
      Title

      <input type="text"  formControlName="title" />
    </label>

    <label>
      Text

      <input type="text"  formControlName="text" />
    </label>

    <button [disabled]="form.invalid" type="submit">Submit</button>
  </fieldset>
</form>
